<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"

    />
    <!--    실전용-->
    <link href="/css/style.css" rel="stylesheet">
    <!--    뷰만 확인하는 용도-->
<!--    <link href="../../static/css/style.css" rel="stylesheet">-->
    <meta charset="utf-8" />

    <style>
      button {
        width: 200px;
        margin-top: 10px;
      }

      .b {
        border: solid 1px black;
      }
    </style>
  </head>
  <body class="body-bg">
    <div class="container">
        <div class="text-center" style="margin-top: 10%"><h1>결제로직</h1></div>
        <div class="text-center" th:object="${member}">
          <p th:text="*{name}">회원이름</p>
          <div class="memberId" th:text="*{id}"></div>
          <p class="orderId" th:text="${orderId}"></p>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-5">
            <button class="btn btn-primary pay-done"

                    >결제 완료</button>
          </div>
        </div>
      <div class="row">
        <div class="col-md-4 offset-md-5">
          <button
            class="btn btn-darksalmon"
            th:onclick="|location.href='@{/home}'|"
          >
            메인으로
          </button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/app/member.js"></script>
  </body>
</html>
