<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!--    실전용-->
    <link href="/css/style.css" rel="stylesheet">
    <!--    뷰만 확인하는 용도-->
    <link href="../../static/css/style.css" rel="stylesheet">
    <meta charset="utf-8" />

    <style>
      button {
        width: 200px;
      }
    </style>
  </head>
  <body class="body-bg">
    <div class="container">
      <form action="" method="post"  th:object="${order}">
        <div class="row">
          <div class="text-center" style="margin-top: 5%; margin-bottom: 3%" ;>
            <h1 id="memberId" th:text="${memberId}">장바구니</h1>
          </div>
        </div>

        <div class="row">
          <table class="table col-md-6 text-center">
            <thead>
              <tr>
                <th scope="col" class="col-md-1">번호</th>
                <th scope="col" class="col-md-2">상품명</th>
                <th scope="col" class="col-md-1">가격</th>
                <th scope="col" class="col-md-1">수량</th>
              </tr>
            </thead>

            <tbody>
              <tr scope="row" id="orderItems" th:each="orderItem : *{orderItems}">
                <td>
                  <a
                          id="orderItemId"
                    th:href="@{/item/{id} (id=${orderItem.item.id})}"
                    th:text="${orderItem.id}"
                    >주문id</a
                  >
                </td>

                <td>
                  <a
                    href="post"
                    th:href="@{/item/{id} (id=${orderItem.item.id})}"
                    th:text="${orderItem.item.name}"
                    >상품명</a
                  >
                </td>

                <td th:text="${orderItem.item.price}">가격</td>

                <td>
                  <input
                    id="quantity"
                    type="number"
                    min="0"
                    th:value="${orderItem.quantity}"
                  />수량
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-md-4 offset-md-4">
            <button class="btn btn-darksalmon" id="buyAllInCart" style="width:400px" type="submit">상품 구매</button>

            <button
              class="btn btn-darksalmon"
              type="button"
              th:onclick="|location.href='@{/home}'|"
            >
              메인으로
            </button>
            <button
              class="btn btn-darksalmon"
              type="button"
              style="width: 195px; "
              th:onclick="|location.href='@{/item/list/1}'|"
            >
              상품리스트
            </button>
          </div>
        </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/app/order.js"></script>
  </body>
</html>
