<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    실전용-->
    <link href="/static/css/style.css" rel="stylesheet">
    <!--    뷰만 확인하는 용도-->
    <link href="../../static/css/style.css" rel="stylesheet">
    <meta charset="utf-8">

</head>
<body class="body-bg">
<div class="container">
    <div class="text-center" style="margin-top:20%"><h1>로그인</h1></div>
    <div class="row">
        <div class="col-md-4 offset-md-5">
            <button class="btn btn-google" th:onclick="|location.href='@{/oauth2/authorization/google}'|">Google 로그인</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-5">
            <button class="btn btn-naver" th:onclick="|location.href='@{/oauth2/authorization/naver}'|">Naver 로그인</button>
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('.btn-naver').hover(function(){
            $(this).css('background-color','skyblue')
        },function(){
            $(this).css('background-color','rgb(42, 175, 42)')
        }
    )

    $('.btn-google').hover(function(){
            $(this).css('background-color','skyblue')
        },function(){
            $(this).css('background-color','white')
        }
    )
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>